.background{
    min-width: 1000px;
    min-height: 540px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    border-radius: 15px;
}
.background:hover {
  border-color: #5e66ff;
  filter: drop-shadow(0 0 1.5rem #070404aa);
}
#color-picker{
    background-color: rgb(251, 243, 243);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 20px black;
}
#color-picker > button{
    border: none;
    margin:7px;
    padding: 5px;
    min-width: 70px;
    border-radius: 8px;
}
#color-picker > input{
    max-width : 100px;
    padding: 1px 20px;
    border-radius: 10px;
    border: none;
    color: black;
    font-weight: 500;
}