#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.todoBar {
	background-color: #444444;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
  margin-bottom: 12px;
}
.todoBar > div {
	display: flex;
	margin-right: 20px;
	justify-content: space-between;
}
.todoBar input {
	width: 120px;
	margin-right: 20px;
	border-radius: 10px;
	border: 0.5px #ff9902 double;
	background-color: rgb(250, 247, 245);
	color: black;
	padding: 2px 0px 2px 5px;
}
.todoBar > button {
	background-color: #ff9902;
	font-size: medium;
	border-radius: 20px;
	border: none;
	padding: 5px 12px 5px 12px;
}
.todoBar > button:hover {
	border-color: #646cff;
}
.todo {
	background-color: #444444;
	padding: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2.5px 0 2.5px 0;
  
}
.todo .header{
  max-width: 200px;
}
.todo button {
	background-color: whitesmoke;
	font-size: small;
	border-radius: 20px;

	padding: 5px 12px 5px 12px;
}
.todoTitle {
	color: #ff9902;
	font-size: larger;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
  text-align: left;
   word-wrap: break-word;
  overflow: auto;
}
.todoDescription {
	font-size: small;
	text-align: left;
  word-wrap: break-word;
  overflow: auto;
}
.todo .completeBtn {
	border: 2px rgb(20, 120, 20) solid;
	color: rgb(20, 120, 20);
	margin-right: 10px;
}
.todo .deleteBtn {
	border: 2px rgb(97, 6, 6) solid;
	color: rgb(97, 6, 6);
}
h2 {
	font-size: 40px;
	margin-top: 0;
}
#root {
	margin-top: 0;
	padding-top: 0;
}
